header {
    background-color: rgba(179, 179, 179, 1);
    position: fixed;
    top: 0;
    z-index: 19;
    width: 100%;
}
.mobile-flag {
    display: none;
}
.header-content {
    font-family: "Oswald", sans-serif !important;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 95%;
    color: white;
}
/* HEADER LEFT */

.header-left {
    display: flex;
}
.header-left-title {
    margin-left: 25px;
}
.header-left-title-company-name {
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    margin-bottom: -2px;
    color: #FEFD95;
}
.header-left-title-slogan {
    text-align: center;
    color: #FEFD95;
}
/* END OF HEADER LEFT */

/* HEADR RIGHT */
.header-right {
    display: flex;
    width: 57%;
}
.header-right ul {
    width: 100%;
    margin-top: 21px;
    align-items: center;
    font-size: 20px;
}
.header-right ul li {
    list-style-type: none;
    color: #0000;
    transition: 0.3s;
    position: relative;
}
.header-right ul li:hover a{
    color: black;
    transition: 0.3s;
}
.header-right ul li:hover #show-flag{
    color: black;
    transition: 0.3s;
}
.header-right ul li:after {
    content: "";
    border-top: 4px solid;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    border-color: black;
    transform: translateY(600%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.header-right ul li:hover:not(#lang):after {
    opacity: 1;
    visibility: visible;
    transform: translateY(300%);
    transition: 0.3s;
}
.header-right ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}
.flags {
    margin-right: 10px   ;
}
.hover-flag {
    border-left: 2px solid black;
    height: 21px;
    position: absolute;
    top: 9px;
    left: -6px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.flag div{
    border: 1px solid black;
    height: 4px;
    margin-right: 5px;
}
.second-flag {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}
@media screen and (max-width: 1920px) {
    .header-right ul {
        display: flex;
        justify-content: space-around;
    }
    .header-left {
        align-items: flex-end;
    }
    .header-left-logo img {
        width: 100px;
    }
    .header-left-title-company-name {
        font-size: 35px;
    }
    .header-left-title-slogan {
        font-size: 20px;
        word-spacing: 2.3px;
    }
}
@media screen and (max-width: 1690px) {
    /* .header-right ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */
     .header-left-title-company-name {
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .header-right ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-left {
        display: flex;
        justify-content: center;
    }
    .header-left-logo img {
        width: 70px;
    }
    .header-left-title-company-name {
        font-size: 25px;
    }
    .header-left-title-slogan {
        font-size: 15px;
    }
}
/* iPad Pro */
@media screen and (max-width: 1024px) {
    .mobile-flag {
        display: block;
    }
    .mobile-flag img{
        width: 100px;
    }
    header {
        position: relative;
    }
    .header-content {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;;
        margin: 0px auto;
    }
    .header-left-logo img{
        width: 100px;
    }

    .header-left-title {
        margin-left: 25px;
        margin-right: 25px;
    }
    .header-left-title-company-name {
        font-size: 35px;
    }
    .header-left-title-slogan {
        font-size: 25px;
    }
}
/* iPad */
@media screen and (max-width: 768px) {
    .mobile-flag {
        display: block;
    }
    .mobile-flag img{
        width: 87px;
    }
    header {
        position: relative;
    }
    .header-content {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;;
        margin: 0px auto;
    }
    .header-left-logo img{
        width: 87px;
    }

    .header-left-title {
        margin-left: 25px;
        margin-right: 25px;
    }
    .header-left-title-company-name {
        font-size: 30px;
    }
    .header-left-title-slogan {
        font-size: 21px;
    }
}
/* END OF HEADER RIGHT */

/* iPhone 6Plus*/
@media screen and (max-width: 441px) {
    header {
        position: relative;
    }
    .header-content {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;;
        margin: 0px auto;
    }
    .header-left-logo img{
        width: 60px;
    }
    .mobile-flag img{
        width: 60px;
    }

    .header-left-title {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-left-title-company-name {
        font-size: 16px;
    }
    .header-left-title-slogan {
        font-size: 11px;
    }
    .header-right {
        width: 100%;
    }
    .header-right ul{
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 13px;
        grid-gap: 15px 10px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

/* iPhone 6*/
@media screen and (max-width: 375px) {
    header {
        position: relative;
    }
    .header-content {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;;
        margin: 0px auto;
    }
    .header-left-logo img{
        width: 50px;
    }
    .mobile-flag img{
        width: 30px;
    }

    .header-left-title {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-left-title-company-name {
        font-size: 15px;
    }
    .header-left-title-slogan {
        font-size: 11px;
    }
    .header-right {
        width: 100%;
    }
    .header-right ul{
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 13px;
        grid-gap: 15px 10px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}