/*.current-information-content #carouselExampleControls .carousel-inner {*/
/*    max-height: 800px;*/
/*}*/
#slider-place .owl-nav {
    background: #B3B3B3 !important;
    margin-top: 0px !important;
}
.owl-nav {
    display: block!important;
}

.owl-nav .button span {
    font-size: 45px!important;
}
@media screen and (max-width: 1920px) {
    #slider-place .owl-item .item {
        height: 800px;
    }
}
@media screen and (max-width: 375px) {
    #slider-place .owl-item .item {
        height: auto;
    }
}