.intro-associate {
    background: #B37D29;
    height: auto;
    color: white;
}
.intro-text {
    padding: 30px;
}
.headings-black {
    font-family: "Oswald", sans-serif !important;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 35px;
}
/* ASSOCIATES */
.associates img {
    width: 125px;
    padding: 10px;
}
.associate-row  {
    padding: 30px;
    /* float: left; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-gap: 30px; */
    grid-row-gap: 100px;

}
/* END OF ASSOCIATES*/

@media screen and (max-width: 441px) {
    .headings-black {
        font-size: 25px;
    }
    .intro-text {
        text-align: justify;
    }
}