.list-news {

}

@media screen and (max-width: 441px) {
    .list-news {
        display: grid !important;
        grid-template-columns: 1fr;

    }
    .list-news .fb-page {
        margin-bottom: 20px;
    }
}