.contact {
    background-color: rgba(179, 179, 179, 1);
    margin-top: 50px;
}
.contact-intro {
    font-size: 35px;
    padding-top: 20px;
}
@media screen and (max-width: 1920px) {
    .contact {
        height: 300px;
    }
}
@media screen and (max-width: 1200px) {
    .contact {
        height: 300px;
    }
}
.seperator {
    width: 40px;
    height: 3px;
    background: #ffffff;
    margin: 15px auto 25px auto;
    text-align: center;
}
.contact-details {
    text-align: center;
    font-size: 18px;
    color: white;
}
.contact-details a {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 375px) {
    .contact-details {
        font-size: 12px;
    }
}